#addProjectButton,
#addTeamMemberButton,
#addNewProjectButton {
    -fx-text-fill: White;
    -fx-background-color: #28a745;
}

#addProjectButton:hover,
#addTeamMemberButton:hover,
#addNewProjectButton:hover {
    -fx-background-color: #218838;
}

#removeProjectButton,
#removeTeamMemberButton {
    -fx-text-fill: White;
    -fx-background-color: #dc3545;
}

#removeProjectButton:hover,
#removeTeamMemberButton:hover {
    -fx-background-color: #c82333;
}

#editTeamMemberButton {
    -fx-text-fill: White;
    -fx-background-color: #17a2b8;
}

#editTeamMemberButton:hover {
    -fx-background-color: #138496;
}

.button {
    -fx-cursor: hand;
}
